body {
    text-align: center;
}

h1 {
  margin: 0;
}

.modal {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 250px;
  transform: translateY(-100px);
  font-family: 'Chela One', cursive;
}

.exit {
  align-self: flex-end;
  padding: 10px 10px;
}
